#root {
  margin: 0 auto;
  padding: 0 0;
  text-align: center;
}

.dockview-theme-abyss .dv-dockview {
  background-color: transparent;
}

.grid-view .split-view-container .view-container {
  background-color: transparent;
}

.group-control {
  .action {
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-size: 18px;
    cursor: pointer;

    &:hover {
      border-radius: 2px;
      background-color: var(--dv-icon-hover-background-color);
    }
  }
}

.groupview:has(.viewport) {
  background-color: transparent;
}

